@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form action="/Employees/Create" method="post">
    <input type="text" name="FirstName" placeholder="First name" />
    <input type="text" name="LastName" placeholder="Last name" />
    <input type="text" name="Birthday" placeholder="Birthday" />
    <input type="text" name="Email" placeholder="Email" />
    <input type="text" name="Address" placeholder="Address" />
    <input type="number" name="PostalCode" placeholder="Postal code" />
    <input type="number" name="PhoneNumber" placeholder="Phone number" />
    <button>Save</button>
</form>

